.App {
  text-align: center;

}

h1 {
  color: white;
  word-spacing: 3px;
  font-family: "Iceberg", sans-serif;
  font-style: normal;

}

h2 {
  color: #db5a2e;
  word-spacing: 4px;
  line-height: 50px;
  margin-left: 4%;
  font-family: "Iceberg", sans-serif;
  font-style: normal;
}

h3 {
  color: white;
  word-spacing: 3px;
  font-family: "Iceberg", sans-serif;
  font-style: normal;
}

p {
  color: #db5a2e;
  word-spacing: 3px;
  line-height: 50px;
}

.task {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;



}

body {
  
  font-family: "Iceberg", sans-serif;
  font-style: normal;
  background-color: black;
}

.navbar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #0b1842;
  margin-bottom: 3%;
}

.navbar-logo {
  padding: 1%;
  color: #db5a2e;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 50px;
}

.navbar-button button {
  width: 7rem;
  font-family: "Iceberg", sans-serif;
  margin-right: 2rem;


  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: #db5a2e;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #db5a2e;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar-button button:hover {
  background-color: #db5a2e;
  color: black;
}

/* <!--Button on homepage --> */
.button-container {
  padding-left: 5%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  /* Adjust column width for responsiveness */
  grid-gap: 20px;
  /* Adjust gap between buttons */
}

.button-container a {
  text-decoration: none;
  /* Remove underline from links */
}

.button-container button {

  margin: 2%;
  width: 80%;
  padding: 10px;
  height: 3rem;
  font-size: 16px;
  border: none;
  background-color: #db5a2e;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Iceberg", sans-serif;
}

@media (max-width: 768px) {
  .button-container {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    /* Adjust column width for smaller screens */
  }
}


.button-container button:hover {
  background-color: white;

  color: #db5a2e;
}


@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* task fileds */

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Center items vertically and horizontally */
  gap: 2%;
  /* Add space between each entity */
}

.task img {
  width: 100%;
  /* Make the image responsive */
  max-width: 300px;
  /* Limit the maximum width of the image */
  height: auto;
  margin-bottom: 1%;
  /* Add space below the image */
}

.task form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task label {

  margin-bottom: 10px;
  /* Add space below the label */
}

.task input[type="text"] {
  font-family: "Iceberg", sans-serif;
  font-style: normal;
  padding: 10px;
  margin-bottom: 10px;
  /* Add space below the input field */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
}

.task button {
  font-family: "Iceberg", sans-serif;
  font-style: normal;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #db5a2e;
  color: white;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .task img {
    max-width: 200px;
    /* Adjust maximum width for smaller screens */
  }

  .task input[type="text"] {
    width: 20%;
    /* Adjust input field width for smaller screens */
  }

  .task button {
    width: 80%;
    /* Adjust button width for smaller screens */
  }
}

.savepdf {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Center text horizontally */
}

.savepdf button {
  color: white;
  font-size: 2vw;
  /* Adjust font size relative to viewport width */
  background-color: #82A0AA;
  width: 50%;
  /* Adjust width relative to parent container */
  max-width: 200px;
  /* Set a maximum width */
  height: 10vw;
  /* Adjust height relative to viewport width */
  max-height: 50px;
  /* Set a maximum height */
  border-radius: 10px;
  margin-top: 20px;
  /* Add margin to top */
  cursor: pointer;
  font-family: "Iceberg", sans-serif;
  font-style: normal;
}

.savepdf button:hover {
  background-color: aquamarine;
  color: #626060;
}


/* task 2 */
.task_2_img {
  display: flex;
  justify-content: center;
  /* Center images horizontally */
  flex-wrap: wrap;
  /* Allow images to wrap to the next line if needed */
}

.task_2_img img {
  max-width: 20%;
  /* Make sure images don't exceed their container's width */
  height: auto;
  /* Maintain aspect ratio */
  padding: 2%;
  /* Add padding around each image */
}

/* task 8 */

.task_8_vid {
  display: flex;
  justify-content: center;
  /* Center images horizontally */
  flex-wrap: wrap;
  /* Allow images to wrap to the next line if needed */
}

.task_8_vid video {
  max-width: 40%;
  /* Make sure images don't exceed their container's width */
  height: auto;
  /* Maintain aspect ratio */
  padding: 2%;
  /* Add padding around each image */
}

/* footer */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.site-footer {
  background-color: rgba(51, 51, 51, 0.8);
  /* RGBA color with opacity */
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}


.footer-content h3 {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .footer-content h3 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer-content h3 {
    font-size: 14px;
  }
}

/* task 7 */
.task_7_img {
  display: flex;
  justify-content: center;
  /* Center images horizontally */
  flex-wrap: wrap;
  /* Allow images to wrap to the next line if needed */
}

.task_7_img img {
  width: 100%; /* Set the width to 100% to make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 800px; /* Limit the maximum width of the image to 800px */
  padding: 2%; /* Add padding around each image */
}

